.main {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 36px;
}

a {
    background-color: aqua;
}

.main, .page_1, .page_2, .page_3 {
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipe_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
    border: 2px solid white;
    border-radius: 10px ;
}

.page_1 {
    background-color: rgb(84, 141, 135);
}

.page_2 {
    background-color: rgb(170, 77, 43);
}

.page_3 {
    background-color: rgb(108, 143, 39);
}

.recipe_name {
    text-align: center;
    background-color: black;
    color: white;
}
